node_modules
.DS_Store
dist
dist-ssr
.output
*.local
count.txt
# Environment variables
.env
.env.local
.env.production
.env.*.local
.env copy
.env.backup
.env.bak
.env-*
*.env

.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
.cursor